<% @articles.each do |article| %>
	<div class="booyah-box col-10 offset-1">
		<h1><%= link_to article.title, article_path(article) %></h1>
	    <i><%= @markdown.render(article.body).html_safe  %></i><br /><br />
	   
        <h4>When: <%= time_ago_in_words(article.created_at) %></h4>
      
        

        <% if article.user.present? %>
      <small><%= article.user.email %></small>
    <% end %>
        
  </div>

  
<% end %>


<div class="pagination col-xs-10 col-xs-offset-1">
      <p><%= will_paginate @articles, previous_label: "Older", next_label: "Newer", renderer: BootstrapPagination::Rails %></p>
</div>