<!DOCTYPE html>
<html>
  <head>
    <title>Blogster</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to 'Blogster', root_path, class: 'navbar-brand' %>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
          <li class="nav-item">
            <%= link_to new_article_path, class: 'nav-link' do %>
            <i class="fa fa-plus-circle">New Article</i>
            <% end %>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Link</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <%= form_tag(articles_path, :method => "get", id: "search-form") do %>
		  <%= text_field_tag :search, params[:search], placeholder: "Search Articles" %>
		  <%= submit_tag "Search" %>
		  <% end %>
        </form>
      </div>
    </nav>

    <div class="container">

    	<%= yield %>

    </div>

     <br class="clr" />





    
  </body>
</html>
